### IntelliJ ###

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

.idea/modules.xml
.idea/misc.xml

# Sonarlint plugin
.idea/sonarlint

### Java ###
# Binaries #
*.class
*.jar
*.exe

# Packages #
*.zip
*.tar.gz
*.rar
